
body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

canvas {
  background-color: #ccc;
  width: 100%;
  margin-bottom: 20px;
}

button {
  height: 60px;
}

.botoes {
  width: 100%;
}

.bi {
  width: 40px;
  height: 40px;
}

#dark, #light {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 60px;
  width: 105%;
  height: 40px;
}
